
/* Estilo básico del cursor */
.cursor {
    position: absolute !important;
    top: 90% !important;
    margin-top: 4% !important;
    margin-left: 3% !important;
    padding: 5px !important;
    height: 1.7% !important;
    font-size: 10px !important;
    color: white !important;
    text-align: center !important;
    align-items: center !important;
    display: flex !important;
    justify-content : center !important;
    background-color: black !important; /* Color del cursor */
    border-radius: 5px !important;
    font-weight: 600 !important;
    pointer-events: none !important; /* Evita que el cursor afecte la interacción del usuario */
    transition: background-color 0.5s, transform 0.3s !important; /* Transiciones para color de fondo y transform */
  }
  
  /* Cambia el color de fondo al hacer hover */
  .cursor:hover {
    background-color: #00cc00; /* Nuevo color de fondo al hacer hover */
    transform: scale(
      1.1
    ); /* Cambio de escala al hacer hover (efecto de crecimiento) */
  }
  
  /* Animación de movimiento */
  @keyframes moveCursor {
    0% {
      transform: translate(0, 0); /* Posición inicial */
    }
    50% {
      transform: translate(5px, 5px); /* Posición intermedia */
    }
    100% {
      transform: translate(
        0,
        0
      ); /* Posición final (vuelve a la posición inicial) */
    }
  }
  
  /* Aplica la animación de movimiento al cursor */
  .cursor.move-animation {
    animation: moveCursor 2s infinite; /* Repite la animación de movimiento indefinidamente */
  }
  
  .custom-element:hover {
    background-color: red; /* Change to the desired background color */
  }
  .pointer {
    position: relative;
    top: 1px;
    margin-top: -590px;
    margin-right: 380px;
    transition: background-color 0.5s, transform 0.3s; /* Transiciones para color de fondo y transform */
  }
  