.container-hotels{
    display: flex;
    justify-content: end;
    /* height: 100%; */
    margin: auto;
    max-width: 500%;
    margin: auto;
    width: 87%;
    /* flex-wrap: wrap; */
    /* max-width: 522px; */
    display: flex;
    max-width: 1353px;
    max-height: 1100px;
    /* flex-direction: column; */
    /* background: #fff; */
    /* height: 100vh; */
    width: 100vw;
        /* box-shadow: 0 0 50px rgb(0 0 0 / 40%); */
    overflow: auto;
    margin-top: 10px;
}

.hotel-img-admin{
    max-width: 100%;
    width: 20%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    margin: auto;
    /* padding: 70px 10px 10px; */
    height: 101px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-bedrooms-detailroom-admin{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0;
    display: flex;
    max-width: 1258px;
    max-height: 1100px;
    /* flex-direction: column; */
    /* background: #fff; */
    /* height: 100vh; */
    width: 100vw;
    /* box-shadow: 0 0 50px rgb(0 0 0 / 40%); */
    overflow: auto;
    margin: auto;
}

.table td,tr{
    border: 1px solid #C0C0C0 !important;
    text-align: left;
    padding: 8px;
}