.letra-dasboard{
    position: absolute;
    font-size: 33px;
    font-weight: 700;
    top: -24px;
  
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.letra-dasboard-one{
    position: absolute;
    font-weight: 600;
    top: 7PX;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    max-width: 87%;
}

.container-dashboard{
    display: flex;
}

.contianer-inbox-dasboard{
    width: 335px;
}

.border-top{
    height: 386px !important;
}

.center-porcentaje{
    justify-content: center;
    align-items: initial;
    flex-direction: column;
}

.-container-porcentaje-detail{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.container-webVitals{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-detail-pocentaje{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-dashboard{
    width: 15px; /* Ancho del círculo */
    height: 15px; /* Altura del círculo */
    border-radius: 50%; /* Hace que los bordes sean redondeados */
    background-color: #22C55E; /* Color de fondo verde */
}

.circle-dashboard-avaible{
    width: 15px; /* Ancho del círculo */
    height: 15px; /* Altura del círculo */
    border-radius: 50%; /* Hace que los bordes sean redondeados */
    background-color: #668cff; /* Color de fondo verde */
}

.circle-dashboard-block{
    width: 15px; /* Ancho del círculo */
    height: 15px; /* Altura del círculo */
    border-radius: 50%; /* Hace que los bordes sean redondeados */
    background-color: #747171; /* Color de fondo verde */
}

.container-date-range-dashboard{
    color: black;
    display: flex;
    justify-content: center;
}

.date-text{
    font-size: 16px;
    background: #e4e6ea;

}

.row-cardTableRoom{
    box-shadow: 17px 20px 40px rgba(0, 0, 0, .21);
    border-radius: 12px;
    margin: 20px;
}