

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
 
  }

  .nowrap {
    flex-wrap: nowrap;
  }

  .wrap {
    flex-wrap: wrap;
  }
  .wrap li {
    background: gold;
  }

  .wrap-reverse {
    flex-wrap: wrap;
    margin-top:23px
  }
  .wrap-reverse li {
    border-radius: 1.25rem;
   
  }
  .wrap-reverse-one li {
    border-radius: 13px;
    border: 2px solid #eeeff2;
    transition: border-radius 0.5s, border-color 0.5s;
  }

  .wrap-reverse-one > li:hover  {
    border-radius: 13px;
    border: 2px solid #17c964;  
  }

  .wrap-reverse-dashboard {
    
    margin-top:23px
  }
  .wrap-reverse-dashboard li {
    border-radius: 1.25rem;
  }

  .flex-item {
    position: relative;
    background: tomato;
    transition: background-color 0.5s ease, transform 0.5s ease;
    box-shadow: 17px 20px 40px rgba(0, 0, 0, .21);
    padding: 5px;
    width: 8%;
    height: 100px;
    margin: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
  }


  .flex-item-reservation{
    position: relative;
    background: tomato;
    transition: background-color 0.5s ease, transform 0.5s ease;
    box-shadow: 17px 20px 40px rgba(0, 0, 0, .21);
    padding: 5px;
    width: 79%;
    height: 100px;
    margin: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
  }

  .flex-item-reservation-one{
    background: tomato;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    font-weight: 700;
    height: 81px;
    line-height: 100px;
    margin: 10px;
    padding: 5px;
    position: relative;
    text-align: center;
    transition: background-color .5s ease, -webkit-transform .5s ease;
    transition: background-color .5s ease, transform .5s ease;
    transition: background-color .5s ease, transform .5s ease, -webkit-transform .5s ease;
    width: 12%;
  }



  .number-reservation{
    position: absolute;
    top: 0px;
    font-size: 45px;
  }

  
  
  .flex-item:hover {
    background-color: #ff6347; /* Cambia el color al pasar el ratón sobre el elemento */
    transform: scale(1.1); /* Escala el elemento al 110% de su tamaño original */
  }

  .flex-item-dashboard{
    position: relative;
    border-radius: 14px ;
    background: tomato;
    transition: background-color 0.5s ease, transform 0.5s ease;
    box-shadow: 17px 20px 40px rgba(0, 0, 0, .21);
    padding: 5px;
    height: 225px;
    margin: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: initial;
    align-items: center;
    font-size: 2em;
    text-align: initial;
    cursor: pointer;
  }
  

  .flex-item-dashboard-one{
    position: relative;
    border-radius: 14px;
    background: tomato;
    transition: background-color 0.5s ease, transform 0.5s ease;
    box-shadow: 17px 20px 40px rgba(0, 0, 0, .21);
    padding: 5px;
    width: 80%;
    height: 624px;
    margin: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: initial;
    font-size: 2em;
    text-align: initial;
    cursor: pointer;
  }
  
  
  /* Añade animación a la transición para un efecto más suave */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  .flex-item:hover::before {
    animation: bounce 0.8s;
  }

  .flex-item-option {
    animation: bounce 0.5s;
    background: #f39c12 !important;
  }

  .let-letra{
    font-size: 14px;
    text-align: center;
    width: auto;
    color: black;
    font-weight: 400;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que excede el ancho del contenedor */
    text-overflow: ellipsis;
  }

  .let-letra-dashboard{
    font-size: 30px;
    text-align: initial;
    width: auto;
    color: black;
    font-weight: 400;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que excede el ancho del contenedor */
    text-overflow: ellipsis;

  }


  .let-letra-dashboard-one{
    font-size: 73px;
    text-align: initial;
    width: auto;
    color: black;
    font-weight: 400;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que excede el ancho del contenedor */
    text-overflow: ellipsis;

  }

  
  .let-letra-initial{
    font-size: 14px;
    text-align: initial;
    width: auto;
    color: black;
    font-weight: 400;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que excede el ancho del contenedor */
    text-overflow: ellipsis;
  }



  .popup-overlay{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: #666;
    text-align: center;
  }

  .react-confirm-alert-button-group {
    outline: none;
    background: #333;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.row-top-roomsOcasioanles{
  margin-top: 35px;

}