

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 78px;
  }

  .nowrap {
    flex-wrap: nowrap;
  }

  .wrap {
    flex-wrap: wrap;
  }
  .wrap li {
    background: gold;
  }

  .wrap-reverse {
    flex-wrap: wrap;
  }
  .wrap-reverse li {
    border-radius: 0.25rem;
  }

  .flex-item {
    background: tomato;
    box-shadow: 3px 3px 3px 3px #E3E3E3;
    transition: background-color 0.5s ease;
    padding: 5px;
    width: 8.5%;
    height: 100px;
    margin: 10px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
  }

  .let-letra{
    font-size: 14px;
    text-align: center;
    width: auto;
    color: black;
    font-weight: 400;
  }

  .card-two{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
    /* box-shadow: 3px 5px 5px 0px #E3E3E3; */
    margin-top: 10px;
  }

  .popup-overlay{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: #666;
    text-align: center;
  }

  .react-confirm-alert-button-group {
    outline: none;
    background: #333;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}