/* NX = not expanded */

:root {
	--primary: ;
	--dark: #061b28;
	--gray: #756388;
	--light: #ffffff;
}

/* Estilos para WebKit (Chrome, Safari) */
::-webkit-scrollbar {
	width: 8px; /* Ancho del scrollbar */
  }
  
  ::-webkit-scrollbar-track {
	background: transparent; /* Color de fondo del track */
  }
  
  ::-webkit-scrollbar-thumb {
	background: transparent; /* Color del pulgar */
  }
  
  /* Estilos para Firefox */
  html {
	scrollbar-width: thin; /* Ancho del scrollbar */
	scrollbar-color: transparent transparent; /* Color del pulgar y del track */
  }
  
  /* Estilos para Microsoft Edge e Internet Explorer */
  body {
	-ms-overflow-style: none; /* Oculta el scrollbar en Edge e IE */
  }
  
  body::-webkit-scrollbar {
	width: 8px; /* Ancho del scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: transparent; /* Color de fondo del track */
  }
  
  body::-webkit-scrollbar-thumb {
	background: transparent; /* Color del pulgar */
  }



.side-nav-container {
 background-color: var(--dark); 
    width: 300px;
    height: 100% !important;
    position: fixed;
    color: var(--light);
    transition: 0.4s;
    z-index: 1011;
    padding: 0;
	overflow: auto;
	scrollbar-width: none; 
	-ms-overflow-style: none;
    border-right: 1px solid rgba(0,0,0,.125);
    transition: width 0.05s;
    background-color: #fff;
	box-shadow: 17px 20px 40px rgba(0,0,0,.21)!important;
}
.side-nav-container-NX {
	width: 56px;
	padding-top: 0px !important;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
	/* border: 2px solid white; */
	display: grid;

}

.nav-heading {
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	height: 13px;
}

.nav-brand {
	display: flex;
	color: var(--light);
}
.nav-brand img {
	width: 40px;
	padding: 0 10px;
}

.hamburger {
	background: none;
	border: none;
	cursor: pointer;
	margin: auto;
}

.hamburger span {
	display: block;
	margin-top: 5px;
	background-color: var(--light);
	border-radius: 15px;
	height: 5px;
	width: 35px;

	transition: 0.4s;
}

.hamburger:hover span {
	background-color: var(--primary);
}

.hamburger-in:hover span:nth-child(1) {
	width: 25px;
	transform: translateY(4px) rotate(-25deg);
}
.hamburger-in:hover span:nth-child(2) {
	width: 40px;
}
.hamburger-in:hover span:nth-child(3) {
	width: 25px;
	transform: translateY(-4px) rotate(25deg);
}
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
.hamburger-out {
	margin-left: 24px;
}
.hamburger-out:hover span:nth-child(1) {
	width: 25px;
	transform: translate(14px, 4px) rotate(-155deg);
}
.hamburger-out:hover span:nth-child(2) {
	width: 40px;
}
.hamburger-out:hover span:nth-child(3) {
	width: 25px;
	transform: translate(14px, -4px) rotate(155deg);
}

.nav-menu {
	grid-template-rows: repeat(7, 1fr);
	
}

.menu-item {
	height: 57px;
	display: flex;
	color: var(--light);
	text-decoration: none;
	text-transform: uppercase;
	margin: auto 20px;
	border-radius: 10px;
}

.menu-item-NX {
	margin: auto;
	cursor: pointer;

}
.menu-item:hover {
	background-color: var(--primary);
}
.menu-item img {
	width: 30px;
	padding: 0 20px;
}

.nav-footer {
	width: 100%;
	height: 87px;
	position: absolute;
	bottom: 0;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
}

.nav-details {
	display: flex;
}
.nav-details img {
	width: 50px;
	padding: 0 20px;
}

.nav-footer-user-name {
	font-size: 18px;
	font-weight: 900;
}

.nav-footer-user-position {
	margin-top: -15px;
	color: var(--gray);
}
.logout-icon {
	width: 30px;
	margin: auto;
	border-radius: 90px;
	padding: 20px;
	margin-left: 5px;
}
.logout-icon:hover {
	background-color: var(--primary);
}


.Hover-icon,img {
	cursor: pointer !important ;
}

.row-to{
	margin: auto;
	border-radius: 15px;

	align-items: center;
	display: flex;
	
}

.row-card{
background-color: white;
height: 60px;
width: 60px;
border-radius: 50px;
align-items: center;
display: flex;
}


.row-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row-block{
	display: block;
	align-items: center;	
	margin-left: 10px;
	font-size: 15px;
}


.top-row-nav{
	margin-top: 20px;
}


.color-globito{
	color: #ffffff;
}