/* Header */
.react-calendar-timeline .rct-header-root {
    border-bottom: none;
    position: relative;
    z-index: 99;
    background-color: #fffafc;
    color: black !important;
    font-weight: 700 !important;
    box-shadow: var(--color-border-lightgray) 0 0 1rem;
  }
  
  .react-calendar-timeline .rct-calendar-header {
    border: none;
  }
  
  .react-calendar-timeline .rct-dateHeader {
    pointer-events: none;
    border: none;
    background: var(--color-white);
    font-size: 1.2rem;
    font-weight: 300;
  }

  .rct-dateHeader  > span {
    color: black !important;
    font-weight: 700;
  }
  
  .react-calendar-timeline .rct-dateHeader-primary {
    color: var(--color-black);
    padding-right: 2.6rem;
    text-transform: uppercase;
  }

  .react-calendar-timeline .rct-dateHeader-primary > span {
    
    padding-right: 2.6rem;
   
  }
  
  /* Vertical lines */
  .react-calendar-timeline .rct-vertical-lines .rct-vl {
  
  }
  
  .react-calendar-timeline .rct-vertical-lines .rct-vl:nth-child(odd) {
 
    width: 10px;
  }
  
  .react-calendar-timeline .rct-vertical-lines .rct-vl:nth-child(even) {
   

  }

  .list-booking-sticky {
    position: sticky !important;
    top: 0;
    z-index: 2000;
  }

.modalNewBooking {
  z-index: 200 !important;
}

.button-dasboard{
  width: 799px;
  height: 55px;
  background: #070707;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  }

  .button-dasboard-one{
    width: 741px;
    height: 55px;
    background: #070707;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    }

  .container-button-dasboard{
    display: flex;
    justify-content: space-around;
    width: 721px;
  }

  .container-button-dasboard-one{
    display: flex;
    justify-content: center;
    margin-top: 38px;
  }


  .timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container {
    background-color: #e17b77;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 500px !important;
    height: 100%;
}


.react-calendar-timeline{
  margin-top: 10px;
} 

.list-booking-sticky{
  width: 10%;
}

.container-calender{
  display: flex;
    justify-content: initial;
}