.react-calendar-timeline .rct-header-root {
  border-bottom: none;
  position: relative;
  background-color: #f8f8f8;
  color: black !important;
  font-weight: 700 !important;
  box-shadow: var(--color-border-lightgray) 0 0 1rem;
}

.react-calendar-timeline .rct-calendar-header {
  border: none;
}

.react-calendar-timeline .rct-dateHeader {
  pointer-events: none;
  border: none;
  background: var(--color-white);
  font-size: 1.2rem;
  font-weight: 300;
}

.rct-dateHeader > span {
  color: black !important;
  font-weight: 700;
}

.react-calendar-timeline .rct-dateHeader-primary {
  color: var(--color-black);
  padding-right: 2.6rem;
  text-transform: uppercase;
}

.react-calendar-timeline .rct-dateHeader-primary > span {
  padding-right: 2.6rem;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl:nth-child(odd) {
  width: 10px;
}

.list-booking-sticky {
  position: sticky !important;
  top: 0;
  z-index: 2000;
}

.modalNewBooking {
  z-index: 200 !important;
}

.button-dasboard {
  width: 799px;
  height: 55px;
  background: #070707;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.button-dasboard-one {
  width: 1061px;
  height: 49px;
  background: #070707;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  background: #898989;
  border: none;
}

.button-dasboard-one-one {
  width: 1493px;
  height: 49px;
  background: #070707;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  background: #13a722d4;
  border: none;
  margin-left: -4px;
}

.container-button-dasboard {
  display: flex;
  /* justify-content: center; */
  margin-top: -4px;
  width: 760px;
  /* margin: auto; */
  margin-left: 9px;
}

.container-button-dasboard-one {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timeline-container {
  background-color: #e17b77;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 500px !important;
  height: 100%;
}

.react-calendar-timeline {
  margin-top: 10px;
}

.list-booking-sticky {
  width: 10%;
  z-index: 1;
}

.container-calender {
  display: flex;
  justify-content: initial;
}

.select-hotel-type-rooms {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  padding: 0px 15px 0px 15px;
  outline: none;
  color: #726659;
  margin: auto;
  max-width: 531px;
  box-sizing: border-box;
  width: 237px;
  height: 40px;
  left: 300px;
  top: 338px;
  background: #ffffff;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  margin-top: 5px;
}

.input-selecto-dasboard-n1-name {
  box-sizing: border-box;
  width: 346px;
  height: 40px;
  left: 300px;
  top: 338px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 4px;
}

.select-hotel-type-personality-identificacion {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  height: 40px;
  padding: 0px 15px 0px 15px;
  background: white;
  outline: none;
  color: #726659;
 
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  margin-top: 19px;
  border-radius: 8px;
  margin: auto;
  width: 200px;
  max-width: 531px;
  margin-top: 5px;
}

.select-hotel-type-personality-country {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  height: 40px;
  padding: 0px 15px 0px 15px;
  background: white;
  outline: none;
  color: #726659;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  margin-top: 19px;
  border-radius: 8px;
  margin: auto;
  width: 137px;
  max-width: 531px;
  margin-top: 5px;
}

.input-selecto-dasboard-n1-one {
  box-sizing: border-box;
  width: 210px;
  height: 60px;
  left: 300px;
  top: 338px;
  border: 1px solid #858585;
  border-radius: 8px;
  margin-top: 5px;
  border: none;
  /* background: #EBEBEB; */
  border: 0.5px solid #ffffff;
  /* border-radius: 8px; */
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: #fff;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: #f9f9f9;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: 1px solid #e7e7e7;
}

.lineo {
  text-decoration-line: overline;
}

.obs {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0px;
  border: green;
  border: solid 1px #c5c5c5;
  border-radius: 8px;
  height: 100px;
  width: 100%;
  padding: 11px;
}
.pr {
  margin-top: 10px;
}


.opo-room{
  font-weight: 100;
}

.container-checkbox-one {
  display: flex;
  align-items: center;
  padding: 10px;
}

.App-new {
  display: flex;
  max-width: 500px;
  max-height: 1100px;
  flex-direction: column;
  background: #fff;
  height: auto;
  width: 100vw;
  overflow: auto;
  margin: auto;
}

.image-pdf {
  width: 106px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  margin: initial;
}

.container-pdf-title {
  font-size: 20px;
  font-weight: 500;
}

.span-realizar {
  color: #898989;
}

.container-parrafo {
  margin-top: 10px;
}

hr.border {
  margin-top: 40px;
  border-top: 3px dashed grey;
}

.parrafo {
  color: #787878;
}

.container-flex-entrada {
  display: flex;
  justify-content: space-around;
}

.one {
  margin-top: 20px;
}

.two {
  margin-top: 10px !important;
}

.codigo-reservation {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

.flex-comprobante {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.container-consulte {
  margin-top: 10px;
}
.consulte {
  color: #787878;
}

.flex-index-reservation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-index-reservation-one {
  display: flex;
  align-items: center;
  justify-content: initial;
}

.flex-contant {
  margin-right: 5px;
}

.flex-contan {
  margin-right: 5px;
}

.flex-contan-one {
  margin-right: 4px;
}

.container-calender-header {
  background: black;
}

.name-pinter {
  cursor: pointer;
}


.pay-checkout-pago-pagado-One-two{
  width: 49px;
  background: #f27474;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
  margin-left: 7px;
  position: absolute;
  top: 123px;
  /* left: 966px; */
  padding: 3px;
  /* right: 1060px; */
  margin-right: -167px;
}

.imbox-color{
  width: 29px;
  height: 29px;
  background-color: #e9cfff;
  border-radius: 8px;
}

.imbox-color-one{
  width: 29px;
  height: 29px;
  background-color: #f19e94;
  border-radius: 8px;
}

.imbox-color-three{
  width: 29px;
  height: 29px;
  background-color: #49be36;
  border-radius: 8px;
}

.imbox-color-four{
  width: 29px;
  height: 29px;
  background-color: #d7265b;
  border-radius: 8px;
}

.imbox-color-five{
  width: 29px;
  height: 29px;
  background-color: #727171;
  border-radius: 8px;
}

.border-icon{
  display: flex;
    justify-content: space-around;
    width: 504px;
    margin: auto;
    position: relative;
    left: -495px;
}

.state-type{
  display: flex;
  align-items: initial;
}

.margin-let-rig{
  margin-left: 5px;
  font-size: 12px;
  display: flex;
  align-items: baseline;
  padding-top: 4px;

}

.icon-state-reservation{
  display: flex;
    align-items: center;
}

.wi-img-icon{
  width: 20px;
  height: 10px;
} 

.margin-icon-state{
  margin-right: 3px;
}
