.react-calendar-timeline .rct-header-root {
  border-bottom: none;
  position: relative;
  background-color: white;
  color: black !important;
  font-weight: 700 !important;
  box-shadow: var(--color-border-lightgray) 0 0 1rem;
}

.react-calendar-timeline .rct-calendar-header {
  border: none;
}

.rct-header-root > div {
  margin-left: 10px;
}

.react-calendar-timeline .rct-dateHeader {
  pointer-events: none;
  border: none;
  background: var(--color-white);
  font-size: 1.2rem;
  font-weight: 300;
}

.rct-dateHeader > span {
  color: black !important;
  font-weight: 700;
}

.react-calendar-timeline .rct-dateHeader-primary {
  color: var(--color-black);
  padding-right: 2.6rem;
  text-transform: uppercase;
}

.react-calendar-timeline .rct-dateHeader-primary > span {
  padding-right: 2.6rem;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl:nth-child(odd) {
  width: 10px;
}

.list-booking-sticky {
  position: sticky !important;
  top: 0;
  z-index: 2000;
}

.modalNewBooking {
  z-index: 200 !important;
}

.button-dasboard {
  width: 799px;
  height: 55px;
  background: #070707;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.button-dasboard-one {
  width: 1061px;
  height: 49px;
  background: #070707;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  background: #898989;
  border: none;
}

.button-dasboard-one-one {
  width: 100%;
  height: 49px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  border: none;
  margin-left: -4px;
  margin: auto;
  margin-top: 8px;
}

.container-button-dasboard {
  display: flex;
  /* justify-content: center; */
  margin-top: -4px;
  width: 760px;
  /* margin: auto; */
  margin-left: 9px;
}

.container-button-dasboard-one {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timeline-container {
  background-color: #e17b77;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 500px !important;
  height: 100%;
  margin-left: 8px;
}

.react-calendar-timeline {
  margin-top: 50px;
  margin-left: 8px;
}

.list-booking-sticky {
  width: 10%;
  z-index: 1;
}

.container-calender {
  display: flex;
  justify-content: initial;
}

.select-hotel-type-rooms {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  padding: 0px 15px 0px 15px;
  outline: none;
  color: #726659;
  margin: auto;
  max-width: 531px;
  box-sizing: border-box;
  width: 254px;
  height: 40px;
  left: 300px;
  top: 338px;
  background: #ffffff;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  margin-top: 5px;
}

.input-selecto-dasboard-n1-name {
  box-sizing: border-box;
  width: 346px;
  height: 40px;
  left: 300px;
  top: 338px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 4px;
}

.select-hotel-type-personality-identificacion {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  height: 40px;
  padding: 0px 15px 0px 15px;
  background: white;
  outline: none;
  color: #726659;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  margin-top: 19px;
  border-radius: 8px;
  margin: auto;
  width: 200px;
  max-width: 531px;
  margin-top: 5px;
}

.select-hotel-type-personality-country {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  height: 40px;
  padding: 0px 15px 0px 15px;
  background: white;
  outline: none;
  color: #726659;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  margin-top: 19px;
  border-radius: 8px;
  margin: auto;
  width: 137px;
  max-width: 531px;
  margin-top: 5px;
}

.input-selecto-dasboard-n1-one {
  box-sizing: border-box;
  width: 210px;
  height: 60px;
  left: 300px;
  top: 338px;
  border: 1px solid #858585;
  border-radius: 8px;
  margin-top: 5px;
  border: none;
  /* background: #EBEBEB; */
  border: 0.5px solid #ffffff;
  /* border-radius: 8px; */
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: #fff;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: #f9f9f9;
  text-indent: 18px;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: 1px solid #e7e7e7;
}

.lineo {
  text-decoration-line: overline;
}

.obs {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0px;
  border: green;
  border: solid 1px #c5c5c5;
  border-radius: 8px;
  height: 100px;
  width: 100%;
  padding: 11px;
  margin-top: 6px;
}
.pr {
  margin-top: 10px;
}

.opo-room {
  font-weight: 100;
}

.container-checkbox-one {
  display: flex;
  align-items: center;
  padding: -1px;
}

.App-new {
  display: flex;
  max-width: 500px;
  max-height: 1100px;
  flex-direction: column;
  background: #fff;
  height: auto;
  width: 100vw;
  overflow: auto;
  margin: auto;
}

.image-pdf {
  width: 106px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  margin: initial;
}

.container-pdf-title {
  font-size: 20px;
  font-weight: 500;
}

.span-realizar {
  color: #898989;
}

.container-parrafo {
  margin-top: 10px;
}

hr.border {
  margin-top: 40px;
  border-top: 3px dashed grey;
}

.parrafo {
  color: #787878;
}

.container-flex-entrada {
  display: flex;
  justify-content: space-around;
}

.one {
  margin-top: 20px;
}

.two {
  margin-top: 10px !important;
}

.codigo-reservation {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

.flex-comprobante {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.container-consulte {
  margin-top: 10px;
}
.consulte {
  color: #787878;
}

.flex-index-reservation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-index-reservation-one {
  display: flex;
  align-items: center;
  justify-content: initial;
}

.flex-contant {
  margin-right: 5px;
}

.flex-contan {
  margin-right: 5px;
}

.flex-contan-one {
  margin-right: 4px;
}

.container-calender-header {
  background: black;
}

.name-pinter {
  cursor: pointer;
}

.pay-checkout-pago-pagado-One-two {
  width: 49px;
  background: #f27474;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
  margin-left: 7px;
  position: absolute;
  top: 123px;
  /* left: 966px; */
  padding: 3px;
  /* right: 1060px; */
  margin-right: -167px;
}

.imbox-color {
  width: 24px;
  height: 24px;
  background-color: #7828c8;
  border-radius: 8px;
  margin: 10px;
  align-items: center;
}

.imbox-color-one {
  width: 24px;
  height: 24px;
  background-color: #f31260;
  border-radius: 8px;
  margin-left: 1px;
  margin: 10px;
}

.imbox-color-one-pagada {
  width: 24px;
  height: 24px;
  background-color: #ff9275;
  border-radius: 8px;
  margin-left: 1px;
  margin: 10px;
}

.imbox-color-three {
  width: 24px;
  height: 24px;
  background-color: #17c964;
  border-radius: 8px;
  margin-left: 1px;
  margin: 10px;
}

.imbox-color-three-adeudada {
  width: 24px;
  height: 24px;
  background-color: green;
  border-radius: 8px;
  margin-left: 1px;
  margin: 10px;
}

.imbox-color-three-adeudada-list {
  width: 24px;
  height: 24px;
  background-color: #0072f5;
  border-radius: 8px;
  margin-left: 1px;
  margin: 10px;
}

.imbox-color-four {
  width: 24px;
  height: 24px;
  background-color: rgba(243, 217, 36, 0.8);
  border-radius: 8px;
  margin-left: 1px;
  margin: 10px;
}

.imbox-color-five {
  width: 24px;
  height: 24px;
  background-color: #727171;
  border-radius: 8px;
  margin-left: 1px;
  margin: 10px;
}

.border-icon {
  display: flex;
  justify-content: space-around;
  width: 504px;
  margin: auto;
  position: relative;
  left: -657px;
}

.state-type {
  display: flex;
  align-items: center;
}

.margin-let-rig {
  margin-left: -5px;
  font-size: 12px;
  display: flex;
  align-items: baseline;
  padding-top: 4px;
}

.icon-state-reservation {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.wi-img-icon {
  width: 20px;
  height: 10px;
}

.margin-icon-state {
  margin-right: -14px;
}

.today {
  margin: -10px 0 0 0;
  background-color: #bbbbbb !important;
  border-radius: 8px 8px 0 0;
}

.todayOne {
  margin: 0 0 0 0;
  right: 20px;
  box-shadow: 0px 0px 0px 0px #000000;
  z-index: 1000 !important;
}

.todayOne-Finsihs {
  border-top: 0.1px solid #aaaaaa !important;
  border-left: 0.1px solid #aaaaaa !important;
}

.todayOne-end {
  border-top: 0.1px solid #aaaaaa !important;
  border-left: 4px solid #17c964 !important;
  color: white !important;
}

.todayOne-end-one {
  border-left: 4px solid #17c964 !important;
  border-bottom: 0.1px solid #aaaaaa !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px 0px !important ;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.todayOne {
  position: relative;
  background-color: #f0f0f0;
  z-index: 1000 !important;
  border-left: 0.1px solid #aaaaaa !important;
  border-bottom: 0.1px solid #aaaaaa !important;
}

.todayOne-two {
  position: relative;
  padding: 10px;
  border: solid;
  z-index: 1000 !important;
}

.top-index-home {
  margin-top: 20px;
}

.react-calendar-timeline {
  text-indent: 18px !important;
}

.button-rone-reserva {
  width: 100%;
}

.container-flex-init-global-Card {
  max-width: 1744px;
  margin-top: 15;
  margin: auto !important;
}

.card-one-One {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 3px 5px 5px 0px #e3e3e3;
  margin-top: 10px;
  width: 432px;
}
.color-detail-room {
}
.font-room {
  font-size: 12px;
  font-weight: 400;
  width: 10px;
}

.text-words {
  font-size: 13px;
  font-weight: 400;
}

.day-num {
  font-weight: 500;
}

.arrow-left.active:before {
  content: "";
  position: absolute;
  left: -99px;
  width: 0;
  height: 0;
  /* esta es la parte importante */
  border: transparent solid 50px;
  border-right-color: red;
}

.rct-item-tooltip {
  z-index: 75;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.rct-item-tooltip-content {
  background: rgb(241, 9, 9);
  padding: 8px 16px;
  white-space: nowrap;
  font-size: 12px;
  color: white;
  border-radius: 5px;
}

.rct-item-following-indicator {
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease;

  .rct-item--is-resizing & {
    opacity: 1;
  }
}

.release {
  font-size: 24px;
  background-color: tomato !important;
}

.btn-wrapper {
  margin-top: 20px;
}

.sidebar-group {
  line-height: 1.2;
}

.sidebar-dates {
  margin-top: 5px;
  font-size: 12px;
  color: lightseagreen;
}

.rct-item-handler {
  cursor: col-resize !important;
  display: flex;
  align-items: center;
  justify-content: center;

  .handle-icon {
    height: 45%;
    position: relative;
    pointer-events: none;
  }
}

.rct-item-tooltip {
  z-index: 75;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.rct-item-tooltip-content {
  background: black;
  padding: 8px 16px;
  white-space: nowrap;
  font-size: 12px;
  color: white;
  border-radius: 5px;
}

.rct-item-following-indicator {
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease;

  .rct-item--is-resizing & {
    opacity: 1;
  }
}

.rct-item-arrow {
  width: 50px;
  margin-left: -50px;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;

  & + & {
    margin-top: 60px;
  }
}

.rct-infolabel {
  display: none;
  opacity: 0;
}

.rtc-item-hotspot {
  position: absolute;
  display: block;
  width: 30px;
}

.notification {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 34px;
  background-color: #252627;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.notification-image {
  width: 40px; /* Ancho de la imagen */
  height: 40px; /* Altura de la imagen */
  margin-right: 10px; /* Espacio a la derecha de la imagen */
  border-radius: 50%; /* Hacer la imagen redonda */
}

.notification-content {
  flex: 1; /* El contenido ocupa todo el espacio disponible */
  text-align: left;
}

.notification h4 {
  margin: 0;
  font-size: 18px; /* Tamaño del título */
}

.notification p {
  margin: 0;
  font-size: 14px; /* Tamaño del texto */
}

/* Animación de la notificación (opcional) */
@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Aplicar la animación a la notificación */

  .footer-found {
    width: 315px;
    position: absolute;
    /* left: 0; */
    right: 32px;
  }

  input.invalid {
    border: solid 2px red;
  }
  
   select.invalid {
    border: solid 2px red;
  }
  
  .container-button-remove{
    display: flex;
    justify-content: center;
  }
  
  input.missing {
    border: solid 2px orange;
  }


  

.container-flex-homeType{
  text-align: center;
  border: solid 1px;
  width: 50%;
  margin: auto;
  padding: 52px;
  border-radius: 19px;
}

.flex-checkbox{
  display: flex;
  justify-content: space-around;
}

.margin-right-rig{
  margin-right:4px
}