.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #f31260 !important;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;

  bottom: 100%;
  left: 50%;
  height: 100px;
  transform: translateX(-50%);
  opacity: 2;
  transition: opacity 0.3s;
  color: white;
  z-index: 1000 !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.re{
    overflow: hidden;
    z-index: 100;
}