.border-detail {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  width: 19%;
  height: 111px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: ease;
  transition: background-color 0.8s ease;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
  border-color: #DDDDDD;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.container-detail-dasboard-in {
  display: flex;

}

.container-detail-dasboard-in-photo {
  display: flex;
  justify-content: space-between;
}

.container-detail-dasboard-in-one {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: space-between;

}

.desde-detail {
     /* border-color: #DDDDDD; */
     height: 50px;
     border: none;
     margin: 4px;
     width: 28%;
     padding: 10px;
     border-radius: 12px;
     border-width: 1px;
     border-style: solid;
     padding-left: 16px;
     padding-right: 16px;
     cursor: pointer;
     border-color: #DDDDDD;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.desde-detail-searching{
  /* border-color: #DDDDDD; */
  height: 35px;
  border: none;
  margin: 4px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  border-color: #DDDDDD;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.desde-detail-two {
  height: 50px;
  border: none;
  background: white;
  border-radius: 8px;
  margin: 4px;
  width: 32%;
  padding: 10px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  border-color: #DDDDDD;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.desde-detail-twophoto {
  height: 50px;
  border: none;
  background: white;
  border-radius: 8px;
  margin: 4px;
  width: 21.3% !important;
  padding: 10px;
  border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    border-color: #DDDDDD;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.desde-detail-twophoto-two {
  height: 50px;
  border: none;
  background: white;
  border-radius: 8px;
  margin: 4px;
  width: 20.89%;
  padding: 10px;
  border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    border-color: #DDDDDD;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

@media screen and (max-width: 1024px) {
  .desde-detail-twophoto-two {
    height: 50px;
    border: none;
    background: white;
    border-radius: 8px;
    margin: 4px;
    width: 19.1%;
    padding: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    border-color: #DDDDDD;
  
  }
}

.desde-detail-two-one {
  height: 50px;
  border: none;
  background: #ebebeb;
  border-radius: 8px;
  margin: 4px;
  width: 28%;
  padding: 10px;
}

.desde-detail-three {
  height: 50px;
  border: none;
  background: white;
  border-radius: 8px;
  margin: 4px;
  width: 20%;
  padding: 10px;
  display: flex;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  border-color: #DDDDDD;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.desde-detail-three-estados {
  height: 50px;
  border: none;
  background: white;
  border-radius: 8px;
  /* margin: 4px; */
  padding: 10px;
  display: flex;
  cursor: pointer;
  width: 148px;
  margin-left: -20px;
  justify-content: space-between;
  border-color: #DDDDDD;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px
}

.desde-detail-three-estados-black {
  height: 50px;
  border: none;
  
  border-radius: 8px;
  /* margin: 4px; */
  padding: 10px;
  display: flex;
  cursor: pointer;
  width: 148px;
  margin-left: -20px;
  color: white;
  justify-content: space-between;
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px
}

.desde-detail-three-one {
  height: 50px;
  border: none;
  background: #ebebeb;
  border-radius: 8px;
  margin: 4px;
  width: 20%;
  padding: 10px;
  display: flex;
}

.container-flex-init-global {
  max-width: 83%;
  margin-top: 15;
  margin: auto !important;
}

.container-flex-init-global-one {
  margin-top: 15;
  margin: auto !important;
}

.container-flex-init-global-carbed {
  max-width: 91%;
  margin: auto !important;
}


@keyframes detail {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 6; /* Corregido el valor de opacidad */
    filter: blur(0px);
  }
}


.container-flex-init {
  justify-content: revert;
  margin: auto;
  animation: detail  0.5s ease 0s 1 normal none running eqyXIS;
}

.container-flex-init-One {
  justify-content: revert;
  margin: auto;
  max-width: 83%;
}

.cod-reserva {
  font-weight: 400;
  color: black;
  font-size: 30px;
  width: auto;
  margin-left: 53px;
}

.cod-reserva-one {
  font-weight: 400;
  color: black;
  margin-top: -5px;
}

.container-detail-dasboard-in-one-one {
  display: flex;
  align-items: center;
}

.desde-detail-one {
  height: 50px;
  border: none;
  background: #ebebeb;
  border-radius: 8px;
  margin: 4px;
  width: 20%;
  padding: 10px;
  display: flex;
}

.cd {
  display: flex;
}

.init {
  padding: 2px 5px 0px 5px;
    display: block;
    margin: auto;
    border-radius: 10px;
    height: 122px;
    margin-top: 5px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    border-color: #DDDDDD;
  max-width: 83%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
 
}

@keyframes fault {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 6; /* Corregido el valor de opacidad */
    filter: blur(0px);
  }
}

.init{
  padding: 2px 5px 0px 5px;
  display: block;
  margin: auto;
  height: 122px;
  margin-top: 5px;
}

.init-detail{
  padding: 2px 5px 0px 5px;
  display: block;
  margin: auto;
  height: 132px;
  margin-top: 5px;
  padding: 2px 5px 0px 5px;
  display: block;
  margin: auto;
  border-radius: 10px;
  height: 132px;
  margin-top: 5px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  border-color: #DDDDDD;
max-width: 83%;
box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.values-total {
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.init-dasboard-modal {
  padding: 2px 5px 0px 5px;
  display: block;
  margin: auto;
  background: #ebebeb;
  border-radius: 10px;
  height: 122px;
  margin-top: 5px;
}

.init-dasboard-modal-modal {
  padding: 2px 5px 0px 5px;
  display: block;
  margin: auto;
  background: #ebebeb;
  border-radius: 10px;
  height: 212px;
  margin-top: 5px;
}

.init-photo {
    display: block;
    margin: auto;
    height: 122px;
    margin-top: 5px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    border-color: #DDDDDD;
    max-width: 83%;
  padding: 2px 5px 0px 5px;
  display: block;
  max-width: 83%;
  margin: auto;
  border-radius: 10px;
  height: 174px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.init-informe {
  padding: 15px;
  display: block;
  margin: auto;
  background: #ebebeb;
  border-radius: 10px;
  height: 151px;
  margin-top: 5px;
}

.init-one-two {
  padding: 15px;
  display: block;
  max-width: 1481px;
  margin: auto;
  background: #ebebeb;
  border-radius: 10px;
  height: 220px;
  margin-top: 5px;
}

.init-one-three {
  padding: 15px;
  display: block;
  max-width: 83%;
  margin: auto;
  border-radius: 10px;
  height: auto;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.desde-detail-three-estados-black {
  height: 50px;
  border: none;
  border-radius: 8px;
  /* margin: 4px; */
  padding: 10px;
  display: flex;
  cursor: pointer;
  width: 148px;
  margin-left: -20px;
  color: black;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid black;
}

.container-flex-init-one {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  margin-top: 5px;
  align-items: center;
}

.container-flex-init-one-row {
  display: flex;
  justify-content: space-between;
  max-width: 83%;
  margin: auto;
  margin-top: 3px;
  align-items: center;
}

.container-flex-init-one-center {
  display: flex;
  justify-content: space-between;
  max-width: 83%;
  margin: auto;
  margin-top: 8px;
  align-items: center;

}

.button-checking-detail {
  border: none;
  padding: 20px;
  width: 427px !important;
  border-radius: 8px;
  color: white;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-one {
  border: none;
  background: #a3a3a3;
  padding: 20px;
  width: 100px;
  border-radius: 8px;
  color: white;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-one-two {
  border: none;
  background: #a3a3a3;
  padding: 20px;
  width: 276px;
  border-radius: 8px;
  color: white;
  height: 48px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* padding: 10px; */
  margin: 8px;
}

.title-button span {
  text-align: center;
}

.desde-detail-two-title {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 31%;
  padding: 10px;
}

.desde-detail-two-title-update {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 20%;
  padding: 10px;
}

.desde-detail-two-title-update-tafira {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 27%;
  padding: 10px;
}

.desde-detail-two-title-photo {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 31%;
  padding: 10px;
}

.desde-detail-two-title-photo-one {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 15%;
  padding: 10px;
}

.desde-detail-two-title-photo-four {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 21%;
  padding: 10px;
}

.desde-detail-two-title-photo-three {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 27%;
  padding: 10px;
  width: 44%;
}

.desde-detail-two-title-informe-all {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 20%;
  padding: 10px;
}

.desde-detail-two-title-informe {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 24%;
  padding: 10px;
}

.desde-detail-two-title-informe-one {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 25%;
  padding: 10px;
}

.desde-detail-three-title-das-informe {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 24%;
  padding: 10px;
}

.desde-detail-three-title-das {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 20%;
  padding: 10px;
  display: flex;
}

.desde-detail-three-title-das-update-one {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 26%;
  padding: 10px;
  display: flex;
}

.desde-detail-three-title-das-update {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  padding: 10px;
  display: flex;
}

.desde-detail-three-title-das-informe {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 25%;
  padding: 10px;
  display: flex;
}

.desde-detail-three-das {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 20%;
  padding: 10px;
  display: flex;
}

.desde-detail-two-das {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 28%;
  padding: 10px;
}

.title-code {
  font-size: 17px;
  font-weight: 500;
  /* margin-left: 20px; */
  margin-top: 8px !important;
}

.button-checking-detail-one-das {
  border: none;
  padding: 20px;
  width: 100% !important;
  border-radius: 8px;
  color: white;
  height: 48px !important;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-one-das-one-fins {
  border: none;
  padding: 20px;
  width: 100% !important;
  border-radius: 8px;
  color: white;
  height: 48px !important;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #17c964;
}

.button-checking-detail-one-das-one-finish {
  border: none;
  background: black;
  padding: 20px;
  width: 20px;
  border-radius: 8px;
  color: white;
  height: 48px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-one-das-one {
  border: none;
  background: #a3a3a3;
  padding: 20px;
  width: 160px;
  border-radius: 8px;
  color: white;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-one-dash {
  border: none;
  background: #a3a3a3;
  width: 160px;
  border-radius: 8px;
  color: black;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  background: white;
  border: solid 1px #847f7f;
}

.checkbox-round {
  width: 2.3em;
  height: 2.3em;
  background-color: D9D9D9;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.checkbox-round-three {
  width: 1.3em;
  height: 1.3em;
  background-color: D9D9D9;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.checkbox-round-one {
  width: 2.4em;
  height: 2.3em;
  background-color: D9D9D9;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.container-button-cesde {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.checkbox-round-click {
  background-color: black;
}

.container-checkbox {
  display: flex;
  align-items: center;
  padding: 10px;
}

.ono {
  margin-top: 10px;
  height: 357px !important;
}

.button-checking-detail-checkout {
  border: none;
  background: black;
  padding: 20px;
  width: 160px;
  border-radius: 8px;
  color: white;
  height: 48px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-checkout-estado {
  border: none;
  background: black;
  padding: 20px;
  width: 180;
  border-radius: 8px;
  color: white;
  height: 48px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-firma {
  border: none;
  background: #bfbfbf;
  padding: 20px;
  width: 160px;
  border-radius: 8px;
  color: white;
  height: 48px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-finish-button {
  border: none;
  background: #00b712;
  padding: 20px;
  width: 160px;
  border-radius: 8px;
  color: white;
  height: 48px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-firma-po-one {
  border: none;
  background: #f94141;
  padding: 20px;
  width: 176px;
  border-radius: 8px;
  color: white;
  height: 48px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.button-checking-detail-edita-po {
  border: none;
  background: #b2acac;
  padding: 20px;
  width: 127px;
  border-radius: 8px;
  color: white;
  height: 48px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.container-flex-init-one-container-delete {
  display: block;
  justify-content: space-between;
  max-width: 83%;
  margin: auto;
  margin-top: 11px;
}

.top-detail {
  margin-top: 10px;

}

.container-estado {
  display: flex;
  justify-content: initial;
  margin-top: 10px;
}

.desde-detail-three-das-state {
  height: 30px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 40% !important;
  padding: 10px;
  display: flex;
}

.negrita-detail-reserva {
  font-weight: 600;
  margin-top: -10px;
}

.negrita-detail-reserva-reservation{
  font-weight: 500;
  margin-top: -10px;
  background: #f31260;
  padding: 10px;
  border-radius: 12px;
  color: white;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 200;
}

.desde-detail-three-estados-black-one-finish {
  height: 50px;
  border: none;
  border-radius: 8px;
  /* margin: 4px; */
  padding: 10px;
  display: flex;
  cursor: pointer;
  width: 148px;
  margin-left: -20px;
  color: black;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid black;
}

.in-cehcki {
  position: relative;
  top: -42px;
  left: 233px;
}

.in-cehcki-out {
  position: relative;
  top: -67px;
  left: 399px;
}

.inke-in {
  display: flex;
  align-items: center;
}

.ro-img {
  margin-right: 6px !important;
}

.in-type-button {
  align-items: initial !important;
}

.pay_deudado {
  background: #f31260;
  color: white !important;
  width: 134px;
  height: 16px;
}

.pay_deudado-One-One {
  background: #f31260;
  color: white !important;
  height: 16px;
}

.pay_deudado-One-two {
  background: black;
  color: white !important;
  height: 16px;
}

.pay_Pagado {
  background: #17c964;
  color: white;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.pay_Pagado-deuda {
  background: #17c964;
  color: white !important;
  width: 134px;
  height: 16px;
  cursor: pointer;
}

.desde-detail-two-pagos-store {
  border: none;
  border-radius: 8px;
  margin: 4px;
  width: 98%;
}

.button-change-type-room {
  border: none;
  padding: 0;
  align-items: center;
  background: black;
  padding: 14px;
  border-radius: 8px;
  color: white;
  height: 53px !important;
  align-items: center;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-left: 11px;
}

.button-change-type-room-one {
  border: none;
  padding: 0;
  align-items: center;
  background: black;
  padding: 14px;
  border-radius: 8px;
  color: white;
  height: 53px !important;
  align-items: center;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  width: 5.9%;
}

.top-table-One {
  margin-top: 13px;
}

.top-one-detail-room {
  margin-top: 12px;
}

.row-card-One-finish {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imbox-asear-one {
  background: #e27382;
  padding: 37px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-detail-one {
  background: #e7909c !important;
  cursor: pointer;
}

.border-detail-two {
  background: #97e0d7 !important;
  cursor: pointer;
}

.imbox-asear-Limpiar {
  background: #82d8cd;
  padding: 37px;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.bloqueada-camarera {
  background: #747171;
  color: white;
  width: 10px;
}

.imbox-asear-Block {
  background: #e9c9ff;
  padding: 37px;
  border-radius: 8px;
  color: black;
}

.text-center-icon {
  margin: auto;
}

.row-img {
  background: white;
  padding: 5px;
}

.row-flex-one {
  display: flex !important;
  justify-content: space-around !important;
  width: 52%;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .row-flex-one {
    display: flex !important;
    justify-content: space-around !important;
    width: 49%;
  }
}

.img-photo {
  width: 30%;
  height: 120px;
  border-radius: 10px;
  border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    border-color: #DDDDDD;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.img-photo-one {
  width: 40%;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
  
}

.row-text-box {
  display: contents;
}

.row-web-checking {
  display: flex;
  justify-content: end;
  margin-top: -118px;
  margin-left: 64%;
}

/* Estilos para la imagen expandida en la página */
.image-container {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 200px;
  /* Ajusta el tamaño inicial de la imagen */
  height: auto;
  transition: transform 0.2s;
}

.image-container img:hover {
  transform: scale(1.1);
}

/* Estilos para la modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.7); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
  /* background: black; */
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
  background: white;
  padding: 3px;
  border-radius: 5px;
}

.form-margintop-solicitud {
  margin-top: -55px;
  display: flex;
  align-items: center;
  max-width: 99.7%;
}

.error-solicitud {
  border: solid 2px red;
  color: red;
}

.error-solicitud::placeholder {
  color: red;
}
