.button-informe-cosultar{
    padding: 16px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    border-radius: 8px;
    background: #13a722d4;
    color: white;
    cursor: pointer;
    width: 24%;
    height: auto;
    margin-left: 18px;
}

.with-button-room-to-sell{
    width: 15% !important;
}

.with-button-room-to-sell-One{
    width: 17% !important;
}

.button-informe-descargar{
    padding: 16px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    border-radius: 8px;
    background: #eb6b7f;
    color: white;
    cursor: pointer;
    width: 24%;
    height: auto;
    margin-left: 18px;
}


.button-informe-imprimir{
    padding: 16px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    border-radius: 8px;
    background: black;
    color: white !important;
    cursor: pointer;
    width: 24%;
    height: auto;
    margin-left: 18px;
    text-decoration: none;
}

.button-informe-imprimir a{
    padding: 16px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    border-radius: 8px;
    background: black;
    color: white !important;
    cursor: pointer;
    width: 24%;
    height: auto;
    margin-left: 18px;
    text-decoration: none;
}

.Reservada-camareria{
    background: #FF9990 !important;
}

.Ocupada-camareria{
    background: #C2DEE5;
}

.Aseo-camareria{
    background: #E9C9FF;
}

.container-title-camareras{
    text-align: center;
}

.container-camareras-room{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.box {
    height: 40px;
    width: 100px;
  }
  
  .box:empty {
    border: solid 1px ;
  }

  .container-global-camarera{
    max-width: 1550px;
    margin-top: 15;
    display: flex;
    margin: auto;
    max-height: 709px;
  }

  .top-pdf{
    max-width:  1550px;;
  }

  .flex-container-room{
    display: flex !important;
  }

  .flex-container-room-One{
    display: flex !important;
}

.rota-room-to-sell{
    transform: rotateZ(-90deg);
}
.rota-room-to-sellOne{
    transform: rotateZ(90deg);
}

.flex-container-room  tr {
    border: white;
}

tr:nth-child(even) {
    background-color: white;
}

.to-tr{
    display: grid;
}

.template-flex{
    display: flex;
}
.flex-room-to-sell{
    display: grid;
}

.top-pq{
    width: 195px;
}


.top-room-to-sell-width{
    width: 96px;
    justify-content: center;
}
