 
.container-webcheckin{
    text-align: center;
    margin: auto;
    padding: 29px;
}

.container-webcheckin {
  display: flex;
    max-width: 500px;
    max-height: 1100px;
    flex-direction: column;
    background: #fff;
    height: auto;
    width: 100vw;
    overflow: auto;
 
}

  .progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    min-width: 100%;
    width: 100%;
    margin-top: 42px;
  }
  .progress-container::before {
    content: '';
    background:black;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
  }

  .progress {
    content: "";
    background: #17c964;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    transition: width 0.3s ease;
    width: 50%;
  }
  .circle {
    background-color: black;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
    z-index: 1;
  }
  .circle.active {
    background: #17c964;
  }

  .container-webcheking{
    margin-top: 11%;
  }

  .title-web-checking{
    text-align: initial;
    margin-top: 15px;
  }


  .title-web-end{
    text-align: end;
  }

  .title-web-checking >span{
    font-size: 25px;
    font-weight: 100;
  }

  .title-label{
    font-size: 20px;
    font-weight: 100;
  }

  .conatiner-code-reservation{
    display: flex;
    justify-content: end;
  }

  .conatiner-code-reservation > ul>li{
    text-align: justify;    
  }

  .conatiner-code-reservation {
    font-size: 18px;
    font-weight: 100;
  }
  
  .top-webschecking{
    margin-top: 29px;
  }

  .heigh-webchecking {
    margin: auto;
    font-size: 14px;
  }

  .font-size-webchecking{
    font-size: 25px;
    color: black;
  }

  .font-size-span{
    font-size: 11px;
   
  }

  

  .container-flex-web-checking{
    display: flex;
    justify-content: space-between;

  }

  .container-form-web-checkingOne{
    margin-top: 30px;
  }

  .top-web{
    margin-top:24px;
    height:19px;
  }

  .top-web > li {
    width: 130px;
  }

  .row-flex-webchecking{
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 21px ;
  }

  .negrita-webchecking{
    font-weight: 600;
  }

  .row-camera{
    position: relative;
    
  }

  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
  
  .file-input-label {
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    height: 50px;
    align-items: center;
  }

  .file-input-label-One{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    width: 70%;
    margin-top: 10px;
    height: 50px;
    align-items: center;
  }

  .file-input-label-two{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    height: 50px;
    align-items: center;
  }
  

  
 
  
  .file-input-label-One-img-webchecking{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;

    margin-top: 10px;
    height: 50px;
    align-items: center;
    background:#f21361;
    color: white;
    transition: background-color 0.8s ease
  }

  .file-input-label-One-webchecking{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;

    margin-top: 10px;
    height: 50px;
    align-items: center;
  }