.button-CleanLine{
    width: 1332px;
    height: 55px;
    background: #DD69D1;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}


.button-CleanLine-One{
    width: 1082px;
    height: 55px;
    background: #DD69D1;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}


.button-Block{
    width: 1332px;
    height: 55px;
    background: #747171;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.button-Block-One{
    width: 1082px;
    height: 55px;
    background: #747171;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.contain-cleanline {
    max-width: 754px;
    margin: auto;
    display: flex;
}
