.container-search{
    display: flex;
    max-width: 1277px;
    max-height: 1100px;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    margin: auto;
}   

.container-search {
    height: 100vh;
    display: flex;
    max-width: 970px;
    max-height: 1100px;
    flex-direction: column;
    /* height: 100vh; */
    width: 235vw;
    overflow: auto;
    margin: auto;
}   
.flex-bedrooms-search{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
    justify-content: space-between;
}

.flex-bedrooms-search li{
    padding: 5px;
    text-align: center;
}

.input-stores-personality-nine-search{
    box-sizing: border-box;
    width: 438px;
    height: 55px;
    left: 300px;
    top: 338px;
    background: #FFFFFF;
    border: 1px solid #847F7F;
    border-radius: 8px;
    margin-top: 5px;
    padding: 10px;
}

.button-dasboard-thre-search{
    width: 327px;
    height: 55px;
    background: #070707;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 0;
    margin-top: 28px;
}

.button-dasboard-thre-search-finish{
    width: 511px;
    height: 55px;
    background: #13a722d4;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 0;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-dasboard-thre-search-finish-finish-one{
    width: 511px;
    height: 55px;
    background: #eb6b7f;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 0;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-search{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 116%;
  }
  
  .table-search,th{
    border: none ;
    text-align: left;
    padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .button-dasboard-thre-search-view{
    width: 130px;
    height: 35px;
    background: #070707;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 0;
    }

.imbox-search{
    display: flex;
    align-items: #D9D9D8;
    /* padding: 10px; */
    align-items: center;
}

.table-color,td{
    border: none !important;
}
