.flex-bedrooms-checking-modal-checkout {
  /* margin-left: 16px; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 0; */
  /* display: flex; */
  /* justify-content: space-between; */
  display: contents;
}

.input-searching-input-checkout {
  /* width: 382%; */
  height: 53px;
  /* background: #FFFFFF; */
  /* border: 1px solid #858585; */
  border-radius: 8px;
  margin-top: 5px;
  background: #efefef;
  width: 100%;
  padding: 27px;
}

.container-store-checkout {
  display: flex;
  background: #efefef;

  border-radius: 8px;
  align-items: center;
  color: #000000;
}

.container-store-checkout-one {
  display: flex;
  background: #efefef;
  border-radius: 8px;
  align-items: center;
  color: #000000;
}

.container-store-checkout-one-pdf {
  display: flex;
  background: #efefef;
  border-radius: 8px;
  align-items: flex-end;
  color: #000000;
}

.container-store-checkout-three {
  display: flex;
  background: #efefef;
  border-radius: 8px;
  align-items: center;
  color: #000000;
}

.container-store-checkout-three-pdf {
  display: flex;
  background: #efefef;
  border-radius: 8px;
  align-items: initial;
  color: #000000;
}

.container-store-checkout-two {
  width: auto;
  border-radius: 8px;
  align-items: center;
  color: #000000;
  /* padding: 10px; */
  padding: 4px;
}

.container-checkout-border {
  margin-top: 8px;
}

.resume-title-valor {
  background: #efefef;
  height: 53px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.title-resumen {
  padding: 10px;
}

.container-store-checkout-one {
  display: flex;
  width: auto;
  border-radius: 8px;
  align-items: center;
  color: #000000;
}

.border-checkout {
  background: #efefef;
  width: auto;
  border-radius: 8px;
  padding: 5px;
}

.border-checkout-one {
  background: white;
  width: auto;
  border-radius: 8px;
  padding: 5px;
}

.total-checkout {
  background: #efefef;
  padding: 6px;
  width: auto;
  border-radius: 8px;
  width: 190px;
}

.box {
  display: block;
}
.text-tarea {
  border: solid 1px #efefef;
  border-radius: 8px;
  background: #efefef;
  height: 140px;
}

.text-tarea-one {
  border: solid 1px #efefef;
  border-radius: 8px;
  width: 1485px;
  height: 266px;
  padding: 2px;
}
.button-checkout {
  background: #13a722d4;
  display: flex;
  justify-content: center;
  /* height: 51px; */
  padding: 15px;
  border-radius: 8px;
  color: white;
  padding: 14px;
  margin-top: 12px;
  width: 49%;
}

.button-checkout-three {
  background: #13a722d4;
  display: flex;
  justify-content: center;
  height: 51px;
  padding: 15px;
  border-radius: 8px;
  color: white;
  padding: 14px;
  margin-top: 13px;
  width: 736px;
}

.button-checkout-one {
  background: #13a722d4;
  display: flex;
  justify-content: center;
  /* height: 51px; */
  padding: 15px;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  padding: 14px;
}
.button-checkout-two-finally {
  background: black;
  display: flex;
  justify-content: center;
  height: 51px;
  padding: 15px;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  padding: 14px;
  width: 50%;
}

.dow {
  margin-top: 9px;
}

.totalPricecheckout {
  width: auto;
  border-radius: 8px;
  padding: 2px;
}

.totalPricecheckout-two {
  width: auto;
  border-radius: 8px;
  padding: 2px;
}

.totalPricecheckout-two-finish {
  width: 117px;
  border-radius: 8px;
  padding: 2px;
}

.totalPricecheckout-two-finish-one {
  padding: 2px;
}

.total-store-checkout {
  width: auto;
  background: white;
  border-radius: 8px;
  padding: 2px;
}

.totalPricecheckout-one {
  background: white;
  display: flex;
  justify-content: center;
  padding: 40px;
  border-radius: 8px;
}

.totalPricecheckout-two-one {
  background: #13a722d4;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.flex-checkout {
  display: flex;
  align-items: center;
}

.select-hotel-checkout {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  height: 32px;
  padding: 0px 15px 0px 15px;
  background: white;
  outline: none;
  color: #726659;
  border: solid 1px white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 8px;
  margin: auto;
  width: 100%;
  max-width: 531px;
  margin-left: 10px;
}

.totalPricecheckout-one-three {
  background: white;
  display: grid;
  justify-content: center;
  padding: 23px;
  border-radius: 8px;
  height: auto;
  width: 438px;
}

.totalPricecheckout-one-three-finish {
  background: white;
  display: grid;
  justify-content: center;
  padding: 23px;
  border-radius: 8px;
  height: auto;
  width: 436px;
}

.one-v-total {
  height: 108px;
  align-items: center;
}

.container-border-checkout {
  display: flex;
  background: #efefef;
  width: 50%;
  border-radius: 8px;
  justify-content: space-between;
  margin: 3px;
  height: 263px;
}

.totalPricecheckout-one-three-fini {
  background: white;
  display: grid;
  justify-content: center;
  /* padding: 23px; */
  border-radius: 8px;
  height: auto;
  width: 100px;
}
.container-checkout-border-one {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  align-items: flex-start;
}

.ri-one {
  width: 530px;
}

.ve-one {
  width: 552px;
}

.ri-two {
  width: 700px;
}

.re-two {
  width: 576px;
}

.be-two {
  width: 527px;
}

.price-store {
  font-size: 51px;
  font-weight: 400;
}
.no-price {
  font-size: 43px;
  font-weight: 100;
}

.to-hospedaje {
  margin-left: 183px;
}

.to-hospedaje-one {
  margin-left: 10px;
}

.negrita {
  font-weight: 400;
}

.let-persona {
  margin-left: 30px;
  width: auto;
}

.container-flex-buttton-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contan-seacrh {
  position: relative;
  top: 47px;
  left: 7px;
}

.op {
  margin-right: -18px;
}
.up {
  margin-right: 28px;
}

.image.png {
  margin-right: -20px;
}

.rp {
  margin-right: -14px;
}

.ub {
  margin-right: -20px;
}

.container-flex-comorobante {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.top-flex-pdf {
  margin-top: 4px;
}

.negrita-pdf {
  font-weight: 600;
}

.to-resumen {
  margin-top: 20px;
}

.wid-fecha {
  width: 141px;
}

.relative-codigo {
  position: relative;
  top: 13px;
  left: 84%;
}

.relative-codigo img {
  height: 220px;
  width: 224px;
}

.wid-border-pdf {
  width: 83% !important;
}

.me {
  width: 434px;
}

.relative-price {
  position: relative;
  top: -188px;
  width: 295px;
  right: -72%;
}

.margin-top-pdf-definish {
  margin-top: -185px;
}

.container-pdf-flex {
  margin: auto;
}

.one-flex-one {
  justify-content: initial;
}

.re-two-one {
  /*width: none !important;*/
}

.forme-treeh {
  align-items: baseline;
}

.re-tow-definish {
  margin-right: -151px;
}

.row-hr {
  transform: rotate(90deg);
  height: 2px;
  width: 190px;
  position: relative;
  top: 96px;
  right: -68px;
  background: #c3c1c1;
}

.re-two {
  width: 582px;
}

.re-two-one-two {
  width: 537px;
}

.content-Modal-store-one-two {
  background-color: whitesmoke;
  width: 300px;
  padding: 10px 20px;
  margin: 10vh auto;
  position: relative;
  border-radius: 6px;
  animation: pulse 0.1s ease;
  /* margin-top: 12%; */
  /* min-height: 280px; */
  /* max-height: 686px; */
  margin-top: 10px;
  overflow-x: hidden;
  height: auto;
}

.relative-total {
  position: relative;
  top: 0;
  left: 34px;
}
